[submodule "amf"]
	path = amf
	url = https://github.com/gholtzap/amf.git
	branch = master
[submodule "udm"]
	path = udm
	url = https://github.com/gholtzap/udm
	branch = master
[submodule "nrf"]
	path = nrf
	url = https://github.com/gholtzap/nrf.git
	branch = main
[submodule "nssf"]
	path = nssf
	url = https://github.com/gholtzap/nssf
	branch = master
[submodule "ausf"]
	path = ausf
	url = https://github.com/gholtzap/ausf
	branch = master
[submodule "smf"]
	path = smf
	url = https://github.com/gholtzap/smf
	branch = master
[submodule "upf"]
	path = upf
	url = https://github.com/gholtzap/upf
	branch = master
[submodule "scp"]
	path = scp
	url = https://github.com/gholtzap/scp
	branch = main
[submodule "sepp"]
	path = sepp
	url = https://github.com/gholtzap/SEPP.git
	branch = main
[submodule "smsf"]
	path = smsf
	url = https://github.com/gholtzap/smsf.git
	branch = main
